body {
	background-color:#B1D1E1;
	transition: all .7s ease-in-out;
}

/*#content{
	widows: 320px;
	margin: 10px auto;
}*/

#one{
	width: 70%;
	height: 95vh;
	margin: auto;
	background-color: white;
	transition: all .7s ease-in-out;
}

#two{
	text-align: center;
	color: white;
	padding-top: 10px;
}

@media only screen and (orientation:portrait){
	body{
		background-color: dimgrey;
	}
	#one{
		/*background-image:  url('');*/
		background-color: white;
		width: 100px
	}
	#two:after{
		content: 'PORTRAIT';
	}
}

@media only screen and (orientation:landscape){
	body{
		background-color: teal;
	}
	#one{
		/*margin: 240px auto 10px;*/
		/*background-image:  url('');*/
		/*transition: all 1s;*/
	}
	#two:after{
		content: 'LANDSCAPE';
	}
}