html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: relative
}

body {
	transition: all 1.3s ease-in-out;
}

/*#content{
	widows: 320px;
	margin: 10px auto;
}*/

#one{
	width: 375px;
	height: 667px;
	margin: auto;
	transition: all .7s ease-in-out;
	
}

#squ-1{
		transition: all 1s ease-in-out;
		transition-delay: .2s;
	}

#squ-2{
		transition: all 1s ease-in-out;
		transition-delay: .4s;
	}

#squ-3{
		transition: all 1s ease-in-out;
		
	}

#squ-4{
		transition: all 1s ease-in-out;
		transition-delay: .5s;
	}

/*#two{
	text-align: center;
	color: white;
	padding-top: 10px;
}*/

@media only screen and (orientation:portrait){
	body{
		background-color: dimgrey;
	}
	#one{
		/*background-image:  url('');*/
		/*background-color: white;
		width: 100px*/

	}
	#squ-1{
		transform: translateY(-75px);
	}

	#squ-2{
		transform: translateX(90px);
	}

	#squ-3{
		transform: translateY(75px);
	}

	#squ-4{
		transform: translateX(-90px);
	}
	/*#two:after{
		content: 'PORTRAIT';
	}*/
}

@media only screen and (orientation:landscape){
	body{
		background-color: white;
	}
	#one{
		/*margin: 240px auto 10px;*/
		/*background-image:  url('');*/
		/*transition: all 1s;*/
		width: 667px;
		height: 375px;
	}

	#squ-1{
		transform: translateY(340px);
	}

	#squ-2{
		transform: translateX(-20px);
		transform: translateY(-145px);
	}

	#squ-3{
		transform: translateY(-630px);
	}

	#squ-4{
		transform: translateX(20px);
		transform: translateY(-145px);
	}
	svg{
		width: 667px;
	}
	/*#two:after{
		content: 'LANDSCAPE';
	}*/
}